#main-header {
  background: rgb(255, 255, 255);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    cursor: pointer;
    width: 40px;
    border-radius: 50%;
  }
}