#login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .form-and-logo {
        text-align: center;
        margin-bottom: $defaultSpacing;
        form {
            width: 30vw;
        }
        #google-login {
            margin-bottom: $defaultSpacing;
        }
    }
}
