#settings-page {
  height: 100%;
  .settings-tabs {
    height: calc(100% - 44px);
    .individual-tab,
    .ant-tabs-content {
      height: 100%;
    }
  }
  .ticket-types {
    .header {
      display: flex;
      justify-content: flex-end;
    }
  }
  .import-students {
    .header {
      display: flex;
      justify-content: center;
    }
    .alert-import {
      margin-top: $defaultSpacing;
    }
  }
  .institute {
    .header {
      display: flex;
      justify-content: flex-end;
    }
  }
}